Repository pret/pokecrystal, pull requests merged in 2024-10, with the labels that each got.

#1137 Sort Pokemon and trainer sprite palettes, with Makefile-specified exceptions
  Makefile
  data/pokemon/palettes.asm
  tools/.gitignore
  tools/Makefile
  tools/gbcpal
  tools/gbcpal.c
  tools/make_patch.c
  tools/palfix.py
  tools/png.py
Labels: refactoring, tools

#1141 Rename `dt` and `dd` to `bigdt` and `bigdd`
  data/battle_tower/parties.asm
  data/events/odd_eggs.asm
  data/items/mom_phone.asm
  engine/events/mom.asm
  engine/events/mom_phone.asm
  engine/events/money.asm
  macros/data.asm
  macros/legacy.asm
  macros/scripts/events.asm
  mobile/mobile_41.asm
Labels: renaming, refactoring

#1140 Update mislabeled sweet_scent.asm subroutine
  engine/events/sweet_scent.asm
Labels: renaming

#1133 Correct Moon Ball bug documentation
  docs/bugs_and_glitches.md
  engine/items/item_effects.asm
Labels: bug docs

#1132 Rename Bill's brother to Bill's older sister
  constants/map_constants.asm
  data/maps/attributes.asm
  data/maps/blocks.asm
  data/maps/maps.asm
  data/maps/scripts.asm
  maps/BillsBrothersHouse.asm
  maps/BillsFamilysHouse.asm
  maps/BillsOlderSistersHouse.asm
  maps/FuchsiaCity.asm
Labels: renaming
