Repository pret/pokecrystal, pull requests merged in 2024-09, with the labels that each got.

#1143 Label the unused daily flag
  engine/overworld/time.asm
  ram/wram.asm
Labels: renaming

#1139 Put front and back pics on a single line
  data/pokemon/pic_pointers.asm
  data/pokemon/unown_pic_pointers.asm
  macros/data.asm
Labels: refactoring

#1142 Correct European mail documentation
  engine/pokemon/european_mail.asm
Labels: comments
